
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */


    background-attachment:fixed;
    background-color: ghostwhite;
    font-family:'Libre Baskerville', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.container {
    position: relative;
}

.header {
    padding-top: 60px;
    display: block;
}

.app #explanation {
    display: block;
    padding-top: 10px;
}

.start {
    position: absolute;
    font-weight: bold;
    vertical-align: bottom;
    display: block;
    text-align: center;
    width: 100%;
    padding: 30px;    
}

.main {
    text-align: center;
    margin: 15px;
}

.img {
    max-width: 100%;
    height:auto;
    text-align: center;
    margin: 15px;
}
button.expand, .button.expand {
    padding-left: 0.88889rem;
    padding-right: 0.88889rem;
    width: 100%;
}

.callout.primary {
    background-color:black;
    color:aliceblue;
}

.button {
    background-color: deepskyblue;
    border-color: firebrick
}

.button:hover {
    background-color: forestgreen;
}

.callout h1 {
    color:aliceblue;
    font-size: 4em;
}



/************************************************MEDIA QUERY**********************************************/

    
    @media all and (orientation: landscape) {
        .img {
            max-width: 50%;
            height:auto;
            display: block;
            margin: 0 auto;
            }
    }


    
