body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    font-family:'Libre Baskerville', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

/******************Classes**********************/

.video {
    text-align: center;
}

.name {
    text-align: center;
    background-color: black;
    color:aliceblue;
    padding: 10px;
    margin-top: 10px;
}

.header {
    text-align: center;
    background-color: black;
    color:aliceblue;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}


.cuisine-type {
    text-align: center;
}

.button{
    background-color: darkgrey;
    border-color:black;
    font-weight: bold;
}

.button:hover{
    background-color:black;
}

button.expand, .button.expand {
    padding-left: 0.88889rem;
    padding-right: 0.88889rem;
    width: 100%;
}

.container{
    margin-top: 20px;
}

/**********************IDs*******************************/

#back {
    color:black;
}

#dessert {
    color:pink;
}

#sort-by {
   
}

#randomize-all {
    
}



/*******************************MEDIA QUERY*****************************/

    
    @media all and (orientation: landscape) {
        .img {
            max-width: 50%;
            height:auto;
            display: block;
            margin: 0 auto;
            }
        
        #video-player{
            width:60%;
        }
    }